@if (isAddingTask) {
  <app-add-task (cancelAddingTask)="receiveCancelAddingTask($event)"
                (newTask)="receiveNewTask($event)"/>
  />
} @else {
  <section id="tasks">
    <header>
      <h2>{{ user.name }}'s Tasks</h2>
      <menu>
        <button (click)="addTask()">Add Task</button>
      </menu>
    </header>

    <ul>
      @for (task of userTasks; track task.id) {
        <li>
          <app-task (completedTask)="receiveCompletedTask($event)" [task]="task"/>
        </li>
      }
    </ul>
  </section>
}


